{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="main-banner" id="top">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6">
                  <div class="left-content">
                      <div class="thumb">
                          <img src="{% static 'img/left-banner-image.jpg' %}">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="right-content">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <img src="{% static 'img/baner-right-image-01.jpeg' %}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <img src="{% static 'img/baner-right-image-02.jpeg' %}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <img src="{% static 'img/baner-right-image-03.jpeg' %}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <img src="{% static 'img/baner-right-image-04.jpeg' %}">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
