argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref>=3.6.0
bcrypt==4.0.0
cffi==1.15.1

Django==4.2.16
django-debug-toolbar==4.4.6
django-google-analytics==2
django-mdeditor==0.1.20

importlib_metadata==8.5.0
Pillow==9.2.0
psycopg2-binary
pycparser==2.21
sqlparse==0.4.3
typing_extensions==4.12.2
zipp==3.20.2
