{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Arc Flash EPPs{% endblock %}

{% block content %}
<br>
  <h6 class="h6-result">Tabla tomada de la NFPA 70E.</h6>
    <img src="{% static 'img/Tabla_130-7_1.png' %}" class = "arc_flash" alt="Tabla tomada de la NFPA 70E">
    <img src="{% static 'img/Tabla_130-7_2.png' %}" class = "arc_flash" alt="Tabla tomada de la NFPA 70E">
    <img src="{% static 'img/Tabla_130-7_3.png' %}" class = "arc_flash" alt="Tabla tomada de la NFPA 70E">

{% endblock %}
