{% extends "calculations/index.html" %}

{% block title %}Conductores{% endblock %}

{% block content %}

<!-- Esta parte le permite al usuario ingresar los datos para el cálculo
del conductor del motor teniendo en cuenta la eficiencia y el factor de potencia -->
<br>
<div class="subscribe">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2>Cálculo de Conductores Eléctricos</h2>
        <form action="cable_motor_result" method="post">
        {% csrf_token %}
        <div class="row">
          <!-- Aquí se muestran los botones que permiten al usuario ingresar los valores para el cálculo -->
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_power">Potencia (HP):</label>
              <input type="text" name="mo_power" value="1" title="Separa los decimales con punto.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_efficiency">Eficiencia (0 - 1):</label>
              <input type="text" name="mo_efficiency" value="0.65" title="Separa los decimales con punto.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_fp">Factor de Potencia (0 - 1):</label>
              <input type="text" name="mo_fp" value="0.85" title="Separa los decimales con punto.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_tension">Tensión (V):</label>
              <input type="text" name="mo_tension" value="208" title="Solo valores positivos mayores que cero.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_longitud">Longitud (m):</label>
              <input type="text" name="mo_longitud" value="15" title="Solo valores positivos mayores que cero.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_temperature">Temp. Ambiente (ºC):</label>
              <input type="text" name="mo_temperature" value="25" title="Temperatura del área donde se va a instalar el conductor eléctrico. Solo temperaturas hasta 85 ºC.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_numero-conductores">Número de conductores energizados en una misma canalización:</label>
              <input type="text" name="mo_numero-conductores" value="3" title="Esto es para tener en cuenta el ajuste para más de tres conductores portadores de corriente. Recuerda que el conductor de puesta a tierra no se tiene en cuenta en el conteo.">
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_fases">¿Cuántas Fases?</label>
              <select name="mo_fases">
                  <option value="fases">- </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_temp-conductor">¿Temp. Conductor (ºC)?</label>
              <select name="mo_temp-conductor" title="Temperatura del aislamiento del conductor. Esta aplicación no tiene en cuenta el efecto de las terminales de conexión.">
                  <option value="temperatura"></option>
                  <option value="60">60</option>
                  <option value="75">75</option>
                  <option value="90">90</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_carga_continua">¿Carga continua?</label>
              <select class="select-form" name="mo_carga_continua" title="Una carga continua es aquella cuya corriente máxima se prevé que opere durante tres horas o más.">
                  <option value="carga continua">- </option>
                  <option value="y">Sí</option>
                  <option value="n">No</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_material">¿Material del conductor?</label>
              <select class="select-form" name="mo_material">
                  <option value="material">- </option>
                  <option value="Cu">Cobre (Cu)</option>
                  <option value="Al">Aluminio (Al)</option>
                  <option value="Al-cu">Aluminio recubierto de cobre</option>
              </select>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset>
              <label for="mo_conduit">¿Tipo de Conduit?</label>
              <select class="select-form" name="mo_conduit" title="Esto es para la selección de la Reactancia y la Resistencia">
                  <option value="conduit">- </option>
                  <option value="PVC">PVC</option>
                  <option value="St">Acero</option>
              </select>
            </fieldset>
          </div>
        </div>
        <div class="col-lg-10">
          <fieldset>
            <input type="submit" name="mo_calcular" value="Calcular">
          </fieldset>
        </div>
        <div class="col-lg-10">
          <fieldset>
            <label class="label-form-error" for="mo_numero-conductores">{{ error }}</label>
          </fieldset>
        </div>
        <div class="col-log-10">
          <fieldset>
            <h6><a href="#">¿Necesitas ayuda?</a></h6>
          </fieldset>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
