{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Conduits{% endblock %}

{% block content %}
<!-- Esta vista es un ayuda para que el usuario pueda consultar los diámetros
(o las áreas) típicos de los conductores eléctricos -->
<br>
<div class="subscribe">
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <div class="right-first-image">
        <div class="thumb">
          <h4>Áreas y diámetros típicos de conductores.</h4>
          <img src="{% static 'img/Diametros_y_Areas.png' %}" alt="Tabla tomada de la NFPA 70E">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
