{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Conduits{% endblock %}

{% block content %}
<!-- Esta vista es un ayuda para que el usuario pueda consultar los diámetros
(o las áreas) típicos de los conductores eléctricos -->
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-10">
      <h2>Áreas y diámetros típicos de conductores.</h2>
      <img src="{% static 'img/Cable_areas_y_diametros.png' %}" alt="Tabla tomada de la NFPA 70E">
    </div>
  </div>
</div>
{% endblock %}
