{% extends "calculations/index.html" %}

{% block title %}Conductor del electrodo{% endblock %}

{% block content %}
<!-- Esta plantilla es para el ingreso datos del usuario
para la selección del conductor del electrodo de puesta a tierra -->
<br>
<div class="subscribe">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2>Cálculo del Conductor del Electrodo de Puesta a Tierra</h2>
        <!-- Ingreso de variables para cálculo del conductor del electrodo de puesta a tierra -->
        <form class="" action="#result" method="post" id="form">
        {% csrf_token %}
          <div class="row">
            <div class="col-lg-5">
              <fieldset class="" id="field_ele_gauge">
                <label for="ele_cable_gauge">¿Calibre del Conductor de Fase?</label>
                <select class="select-form" name="ele_cable_gauge" id="ele_cable_gauge" title="O calibre del conductor EQUIVALENTE para conductores de FASE puestos en PARALELO.">
                    <option value="calibre">- </option>
                    <option value="14 AWG">14 AWG</option>
                    <option value="12 AWG">12 AWG</option>
                    <option value="10 AWG">10 AWG</option>
                    <option value="8 AWG">8 AWG</option>
                    <option value="6 AWG">6 AWG</option>
                    <option value="4 AWG">4 AWG</option>
                    <option value="3 AWG">3 AWG</option>
                    <option value="2 AWG">2 AWG</option>
                    <option value="1 AWG">1 AWG</option>
                    <option value="1/0 AWG">1/0 AWG</option>
                    <option value="2/0 AWG">2/0 AWG</option>
                    <option value="3/0 AWG">3/0 AWG</option>
                    <option value="4/0 AWG">4/0 AWG</option>
                    <option value="250 MCM">250 MCM</option>
                    <option value="300 MCM">300 MCM</option>
                    <option value="350 MCM">350 MCM</option>
                    <option value="400 MCM">400 MCM</option>
                    <option value="500 MCM">500 MCM</option>
                    <option value="600 MCM">600 MCM</option>
                    <option value="750 MCM">750 MCM</option>
                    <option value="1000 MCM">1000 MCM</option>
                </select>
                <p class="paragraph_input-error" id="gauge_error_paragraph">Debes seleccionar un calibre del conductor de FASE de la ACOMETIDA.</p>
              </fieldset>
            </div>
            <div class="col-lg-5">
              <fieldset class="" id="field_ele_material">
                <label for="ele_material">¿Material del conductor?</label>
                <select class="select-form" name="ele_material" id="ele_material" title="Se refiere al material del conductor de FASE de la ACOMETIDA.">
                    <option value="material">- </option>
                    <option value="Cu">Cobre (Cu)</option>
                    <option value="Al">Aluminio (Al)</option>
                </select>
                <p class="paragraph_input-error" id="material_error_paragraph">Debes seleccionar un MATERIAL del conductor de FASE de la ACOMETIDA.</p>
              </fieldset>
            </div>
            <div class="col-lg-10">
              <fieldset>
                <input type="submit" name="gro_calculate" value="Calcular">
                <p>Al presionar el botón CALCULAR aceptas los <a href="{% url 'about:terms_and_conditions' %}">términos y condiciones</a> de uso de esta aplicación.</p>
              </fieldset>
            </div>
            <div class="col-lg-10">
              <fieldset>
                <label for="method">{{ error }}</label>
              </fieldset>
            </div>
          </div>
          <br>
          <div class="col-log-10">
            <fieldset>
              <h6><a href="#">¿Necesitas ayuda?</a></h6>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Esta parte de la vista muestra el resultado del cálculo de las distancias
de seguridad -->
<section class="section" id="result">
  <div class="subscribe">
    <div class="container">
      <h2>Resultados:</h2>
      <br>
      <table class="table" border="1">
        <caption class="caption-result">Conductor del Electrodo de Puesta a Tierra.</caption>
        <tr>
          <th class="th">Calibre de Cobre (Cu)</th>
          <th class="th">Calibre de Aluminio (Al)</th>
        </tr>
        <tr>
          <td class="td">{{ ele_cu }}</td>
          <td class="td">{{ ele_al }}</td>
        </tr>
      </table>
      <!-- Estas notas son una ayuda para el ingreso de datos por parte del usuario -->
      <br>
      <h6 class="h6-result">Notas:</h6>
      <div class="instrucciones">
      <ol>
        <li>La selección del conductor de (puesta a tierra o de equipos) ha sido realizada de acuerdo a la
        tabla 250.122 de la NTC 2050.</li>
        <li>El calibre ingesado para la FASE fue: {{ gauge }} de {{ material }}</li>
        <li>El usuario es responsable de revisar los cálculos obtenidos.</li>
        <li>Si encuentras un error en los cálculos realizados puedes escribirnos a:
          <b>consultoriaelectrica@mateovergara.com</b>.</li>
      </ol>
      </div>
    </div>
  </div>
</section>

<!-- Esta parte del código es para realizar la validación desde el frontend de los datos ingresados
por el usuario. Mostrará un mensaje de error si no se ingresan correctamente los datos. -->

<script>
  const form = document.getElementById('form');
  const gauge = document.getElementById('ele_cable_gauge');
  const material = document.getElementById('ele_material');

  form.addEventListener('submit',(event) => {
    event.preventDefault();
    var error = false;

    if (gauge.value === 'calibre') {
      document.getElementById('field_ele_gauge').classList.add('group_form-mistaken');
      document.getElementById('gauge_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (material.value === 'material') {
      document.getElementById('field_ele_material').classList.add('group_form-mistaken');
      document.getElementById('material_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (error === false) {
      form.submit();
    }
  });
</script>
{% endblock %}
