{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | MateoVergara</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
  </head>
  <body>

  <nav class="nav">
    <img src="{% static 'img/LogoMV.png' %}" alt="Logo MateoVergara" class="logo">
    <ul class="nav-menu">
      <li class="dropdown">
        <button class="dropbtn">Acerca de</button>
        <div class="dropdown-content">
          <a href="#">Esta aplicación</a>
          <a href="#">Mateo Vergara</a>
        </div>
      </li>
      <li class="dropdown">
        <button class="dropbtn">Cálculo de Conductores</button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:8000/calculations/cable_choosing">Fase, neutro y tierra</a>
          <a href="http://127.0.0.1:8000/calculations/grounding_cable">De protección (tierra)</a>
          <a href="http://127.0.0.1:8000/calculations/electrode_cable">Del electrodo de puesta a tierran</a>
          <a href="http://127.0.0.1:8000/calculations/drop_voltage">Caída de tensión</a>
          <a href="http://127.0.0.1:8000/calculations/protective_device">Dispositivo de protección</a>
        </div>
      </li>
      <li class="dropdown">
        <button class="dropbtn">Espacios y distancias</button>
        <div class="dropdown-content">
          <a href="http://127.0.0.1:8000/calculations/work_clearances_calculation">Espacios de trabajo</a>
          <a href="http://127.0.0.1:8000/calculations/safety_clearances_calculation">Distancias de Seguridad</a>
        </div>
      </li>
      <li><a href="http://127.0.0.1:8000/calculations/conduits_calculation" class="nav-item">Conduits</a></li>
      <li><a href="http://127.0.0.1:8000/calculations/arcflash_calculation" class="nav-item">Arco Eléctrico</a></li>
    </ul>
  </nav>

  {% block content %}{% endblock %}

  </body>
</html>
