{% extends "calculations/index.html" %}

{% block title %}Protección{% endblock %}

{% block content %}
<br>
<div class="subscribe">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2>Selección del Dispositivo de Protección</h2>
        <form action="#result" method="post" id='form'>
        {% csrf_token %}
        <!-- Se ingresan las variables para el cálculo del dispositivo de protección
        por parte del usuario -->
        <div class="row">
          <div class="col-lg-5">
            <fieldset id="field_pro_current_ad">
              <label for="pro_current_ad">Corriente Ajustada (A):</label>
              <input class="input" type="text" id="pro_current_ad" name="pro_current_ad" placeholder="16" title="Esta corriente es la que se obtiene después de aplicar factor de corrección por temperatura y factor de ajuste para más de tres conductores energizados en una misma canalización. Debe ser mayor que la corriente continua.">
              <p class="paragraph_input-error" id="ad_error_paragraph">Debes ingresar un valor mayor que cero para la corriente AJUSTADA. También la corriente AJUSTADA debe ser MAYOR que la corriente CONTINUA.</p>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset id="field_pro_current_cont">
              <label for="pro_current_cont">Corriente Continua / No Continua (A):</label>
              <input class="input" type="text" id="pro_current_cont" name="pro_current_cont" placeholder="13" title="Si la corriente corresponde a una carga continua, entonces ingresa la corriente multiplicada por el 125%. De lo contrario ingresa solo la corriente nominal de la carga.">
              <p class="paragraph_input-error" id="cont_error_paragraph">Debes ingresar un valor mayor que cero para la corriente CONTINUA / NO CONTINUA.</p>
            </fieldset>
          </div>
          <div class="col-lg-10">
            <fieldset>
              <input type="submit" name="ca_calcular" value="Calcular">
              <p>Al presionar el botón CALCULAR aceptas los <a href="{% url 'about:terms_and_conditions' %}">términos y condiciones</a> de uso de esta aplicación.</p>
            </fieldset>
          </div>
          <div class="col-lg-10">
            <label for="ca_calcular">{{ error }}</label>
          </div>
        </div>
        <br>
        <div class="row">
          <fieldset>
            <h6><a href="https://youtu.be/0y6kSS2P4G8">¿Necesitas ayuda?</a></h6>
          </fieldset>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Esta parte de la plantilla muestra el resultado del cálculo del dispositivo de protección -->
<section id="result" class="section">
  <div class="subscribe">
    <div class="container">
      <h2>Resultados:</h2>
      <br>
      <table class="table" border="1">
        <caption class="caption-result">Dispositivo de Protección.</caption>
        <tr>
          <th class="th">Corriente Continua (A)</th>
          <th class="th">Corriente Ajustada (A)</th>
          <th class="th">Protección (A)</th>
        </tr>
        <tr>
          <td class="td">{{ I_continuous }}</td>
          <td class="td">{{ I_adjust }}</td>
          <td class="td">{{ protective_device }}</td>
        </tr>
      </table>
      <br>
      <!-- Estas notas son una ayuda para el usuario para que entienda el resultado del cálculo -->
      <h6 class="h6-result">Notas:</h6>
      <div class="instrucciones">
        <ol>
          <li>El cálculo ha sido realizado de acuerdo a la NTC 2050.</li>
          <li>El usuario es responsable de revisar los resultados obtenidos.</li>
          <li>Si encuentras un error en los cálculos realizados puedes escribirnos a:
          <b>consultoriaelectrica@mateovergara.com</b>.</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<!-- Esta parte del código es para realizar la validación desde el frontend de los datos ingresados
por el usuario. Mostrará un mensaje de error si no se ingresan correctamente los datos. -->

<script>
  const form = document.getElementById('form');
  const current_adjust = document.getElementById('pro_current_ad');
  const current_continuous = document.getElementById('pro_current_cont');

  form.addEventListener('submit',(event) => {
    event.preventDefault();
    var error = false;

    let adjust_value = parseInt(current_adjust.value);
    let continuous_value = parseInt(current_continuous.value);

    if (isNaN(adjust_value) || adjust_value < 0 || adjust_value < continuous_value) {
      document.getElementById('field_pro_current_ad').classList.add('group_form-mistaken');
      document.getElementById('ad_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (isNaN(continuous_value) || continuous_value < 0 || adjust_value < continuous_value) {
      document.getElementById('field_pro_current_cont').classList.add('group_form-mistaken');
      document.getElementById('cont_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (error === false) {
      form.submit();
    }

  });

</script>

{% endblock %}
