{% extends "calculations/index.html" %}

{% block title %}Distancias de Seguridad{% endblock %}

{% block content %}
<br>
<form class="" action="safety_clearances_result" method="post">
{% csrf_token %}
<fieldset class="fieldset">
  <h5 class="h5-fieldset">Cálculo Distancias de Seguridad</h5>
  <!-- Ingreso de datos por parte del usuario para el cálculo de las distancias de seguridad -->
  <label class="label-form" for="sc_voltage">Tensión entre líneas (V):</label>
  <input class="input" type="text" name="sc_voltage" value="220">
  <select class="select-form" name="sc_voltage_system">
      <option value="¿Tipo de Sistema?">Sistema</option>
      <option value="AC">AC</option>
      <option value="DC">DC</option>
  </select>
  <input class="button-form" type="submit" name="sc_calculate" value="Calcular">

  <label class="label-form-error" for="method">{{ error }}</label>

</fieldset>

</form>

<br>
<h6 class="h6-instrucciones">Instrucciones de uso:</h6>
<div class="instrucciones">
  <ol>
    <li>Solo debes ingresar el nivel de tensión entre líneas en voltios (V) y seleccionar
      si el sistema es de corriente alterna (AC) o de corriente directa (DC).</li>
    <li>Muchas gracias por utilizar esta aplicación!</li>
  </ol>
</div>

{% endblock %}
