{% extends "calculations/index.html" %}

{% block title %}Espacios de Trabajo{% endblock %}

{% block content %}
<br>
<form class="" action="work_clearances_result" method="post">
{% csrf_token %}
<fieldset class="fieldset">
  <h5 class="h5-fieldset">Cálculo de Espacios de Trabajo</h5>
  <!-- Entering of the variables for arc flase calculations -->
  <label class="label-form" for="wc_voltage">Tensión (V):</label>
  <input class="input" type="text" name="wc_voltage" value="208">
  <label class="label-form" for="wc_height">Altura (m):</label>
  <input class="input" type="text" name="wc_height" value="2.0">
  <label class="label-form" for="wc_width">Ancho (m):</label>
  <input class="input" type="text" name="wc_width" value="0.76">
  <select class="select-form" name="wc_voltage_system">
      <option value="Sistema">¿Sistema?</option>
      <option value="1">Monofásico</option>
      <option value="2">Bifásico</option>
      <option value="3">Trifásico</option>
  </select>
  <select class="select-form" name="wc_condition">
      <option value="Condicion?">¿Condición?</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
  </select>
  <select class="select-form" name="wc_backspace">
      <option value="Acceso posterior?">¿Acceso posterior?</option>
      <option value="Si">Sí</option>
      <option value="No">No</option>
  </select>
  <input class="button-form" type="submit" name="wc_calculate" value="Calcular">

  <label class="label-form-error" for="method">{{ error }}</label>

</fieldset>
<br>
<h6 class="h6-instrucciones">Instrucciones de uso:</h6>
<div class="instrucciones">
  <ol>
    <li>Solo debes ingresar el nivel de tensión entre líneas en voltios (V), la altura y el ancho
      del tablero (m), seleccionar si el sistema es monofásico, bifásico o trifásico, la condición en la
      que se encuentra el tablero y finalmente si tiene acceso posterior a ELEMENTOS DESENERGIZADOS. Luego
      le das al botón calcular y listo!</li>
    <li>Muchas gracias por utilizar esta aplicación!</li>
  </ol>
</div>

</form>

{% endblock %}
