{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Espacios de Trabajo{% endblock %}

{% block content %}
<!-- Esta plantilla le permite al usuario ingresar los valores necesarios
para la realización del cálculo de los espacios de trabajo -->
<br>
<div class="subscribe">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="section-heading">
        <h2>Calculador de Espacios de Trabajo</h2>
        <form class="" action="#result" method="post" id="form">
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-5">
            <fieldset id="field_wc_voltage">
              <label for="wc_voltage">Tensión (V):</label>
              <input class="input" id="wc_voltage" type="text" name="wc_voltage" placeholder="208" title="Solo valores positivos mayores que cero.">
              <p class="paragraph_input-error" id="voltage_error_paragraph">Debes ingresar un valor positivo mayor que cero.</p>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset id="field_wc_height">
              <label for="wc_height">Altura (m):</label>
              <input class="input" id="wc_height" type="text" name="wc_height" placeholder="2.0" title="Altura del tablero eléctrico al que le quieres calcular el espacio de trabajo.">
              <p class="paragraph_input-error" id="height_error_paragraph">Debes ingresar un valor positivo mayor que cero para la altura del tablero eléctrico.</p>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset id="field_wc_width">
              <label for="wc_width">Ancho (m):</label>
              <input class="input" id="wc_width" type="text" name="wc_width" placeholder="0.76" title="Ancho del espacio del tablero eléctrico al que le quieres calcular el espacio de trabajo.">
              <p class="paragraph_input-error" id="width_error_paragraph">Debes ingresar un valor positivo mayor que cero para el ancho del tablero eléctrico.</p>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset id="field_wc_system">
              <label for="wc_voltage_system">¿Sistema?</label>
              <select class="select-form" id="wc_voltage_system" name="wc_voltage_system" title="¿Monofásico, bifásico o trifásico?">
                  <option value="Sistema">- </option>
                  <option value="1">Monofásico</option>
                  <option value="2">Bifásico</option>
                  <option value="3">Trifásico</option>
              </select>
              <p class="paragraph_input-error" id="system_error_paragraph">Debes indicar si el sistema es monofásico, bifásico o trifásico.</p>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset id="field_wc_condition">
              <label for="wc_condition"><a href="#" id="conditions">¿Condición? Ver condiciones</a></label>
              <select class="select-form" id="wc_condition" name="wc_condition" title="¿Qué tiene en frente el tablero? ¿Elementos puestos a tierra? ¿Otro tablero?">
                  <option value="Condicion?">- </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
              </select>
              <p class="paragraph_input-error" id="condition_error_paragraph">Debes seleccionar el tipo de condición en el que se encuentra el tablero.</p>
            </fieldset>
          </div>
          <div class="col-lg-5">
            <fieldset id="field_wc_backspace">
              <label for="wc_backspace">¿Acceso posterior?</label>
              <select class="select-form" id="wc_backspace" name="wc_backspace" title="¿Hay elementos desenergizados a los que se tenga que acceder por la parte posterior del tablero para realizar actividades de mantenimiento?">
                  <option value="Acceso posterior?">- </option>
                  <option value="Si">Sí</option>
                  <option value="No">No</option>
              </select>
              <p class="paragraph_input-error" id="back_error_paragraph">Debes seleccionar si es necesario acceder a la parte posterior del equipo.</p>
            </fieldset>
          </div>
          <div class="col-lg-10">
            <fieldset>
              <input type="submit" name="wc_calculate" value="Calcular">
              <p>Al presionar el botón CALCULAR aceptas los <a href="{% url 'about:terms_and_conditions' %}">términos y condiciones</a> de uso de esta aplicación.</p>
            </fieldset>
          </div>
          <div class="">
            <fieldset>
              <label for="method">{{ error }}</label>
            </fieldset>
          </div>
          <div class="col-lg-10">
            <section id="gallery">
              <img src="{% static 'img/condicion_1-1.PNG' %}" alt="Condición 1">
              <img src="{% static 'img/condicion_1-2.PNG' %}" alt="Condición 1">
              <img src="{% static 'img/condicion_2.PNG' %}" alt="Condición 2">
              <img src="{% static 'img/condicion_3.PNG' %}" alt="Condición 3">
            </section>
          </div>
          <div class="col-lg-10">
            <div class="main-container" id="main-container">
              <div class="inner-container">
                <img id="active-image" class="active-image" src="{% static 'img/condicion_1-1.png' %}" alt="Condición 1">
                <button id="btn-close" type="button" name="button">x</button>
                <button id="btn-prev" type="button" name="button">&lt;</button>
                <button id="btn-next" type="button" name="button">&gt;</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <fieldset>
            <h6><a href="https://youtu.be/0y6kSS2P4G8" target="_blank">¿Necesitas ayuda?</a></h6>
          </fieldset>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<section id="result">
  <div class="subscribe">
    <div class="container">
      <h2>Resultados:</h2>
      <br>
      <table class="table" border="1">
        <caption class="caption-result">ESPACIO DE TRABAJO para un nivel de tensión de: {{ voltage }} V; y para la Condición: {{ condition }}.</caption>
        <tr>
          <th class="th">Altura (m)</th>
          <th class="th">Ancho (m)</th>
          <th class="th">Profundidad (m)</th>
          <th class="th">Posterior (m)</th>
        </tr>
        <tr>
          <td class="td">{{ height }}</td>
          <td class="td">{{ width }}</td>
          <td class="td">{{ depth }}</td>
          <td class="td">{{ back }}</td>
        </tr>
      </table>
  <!-- Estas notas son una ayuda para que el usuario entienda el resultado -->
      <br>
        <h6 class="h6-result">Notas: </h6>
        <div class="result-notes">
          <ol>
            <li>"Posterior" debe ser entendido como el espacio de trabajo que debe ser mantenido en la parte posterior para acceder a elementos NO ENERGIZADOS.</li>
            <li>Estos espacios de trabajo han sido seleccionados de acuerdo al artículo 110.26 de la NTC 2050 del 2021.</li>
            <li>Los espacios de trabajo corresponden al nivel de tensión y a la condición indicada en la tabla. </li>
            <li>Si encuentras un error en los cálculos realizados puedes escribirnos a:
            <b>consultoriaelectrica@mateovergara.com</b>.</li>
          </ol>
        </div>
    </div>
  </div>
</section>

<!-- Esta parte del código es para realizar la validación desde el frontend de los datos ingresados
por el usuario. Mostrará un mensaje de error si no se ingresan correctamente los datos. -->

<script>
  const form = document.getElementById('form');
  const voltage = document.getElementById('wc_voltage');
  const height = document.getElementById('wc_height');
  const width = document.getElementById('wc_width');
  const voltage_system = document.getElementById('wc_voltage_system');
  const condition = document.getElementById('wc_condition');
  const back = document.getElementById('wc_backspace');

  form.addEventListener('submit',(event) => {
    event.preventDefault();
    var error = false;

    let voltage_value = parseInt(voltage.value);
    let height_value = parseInt(height.value);
    let width_value = parseInt(width.value);

    if (isNaN(voltage_value) || voltage_value < 0) {
      document.getElementById('field_wc_voltage').classList.add('group_form-mistaken');
      document.getElementById('voltage_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (isNaN(height_value) || height_value < 0) {
      document.getElementById('field_wc_height').classList.add('group_form-mistaken');
      document.getElementById('height_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (isNaN(width_value) || width_value < 0) {
      document.getElementById('field_wc_width').classList.add('group_form-mistaken');
      document.getElementById('width_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (voltage_system.value === 'Sistema') {
      document.getElementById('field_wc_system').classList.add('group_form-mistaken');
      document.getElementById('system_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (condition.value === 'Condicion?') {
      document.getElementById('field_wc_condition').classList.add('group_form-mistaken');
      document.getElementById('condition_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (back.value === 'Acceso posterior?') {
      document.getElementById('field_wc_backspace').classList.add('group_form-mistaken');
      document.getElementById('back_error_paragraph').classList.add('paragraph_input-error-active');
      error = true;
    }

    if (error === false) {
      form.submit();
      console.log('el formulario se envió con éxito');
    }

  });

  const gallery = document.getElementById('conditions');
  const btn_close = document.getElementById('btn-close');
  const btn_prev = document.getElementById('btn-prev');
  const btn_next = document.getElementById('btn-next');
  const images = document.querySelectorAll('gallery');
  const lightbox = document.getElementById('main-container');
  const active_image = document.getElementById('active-image');

  let indexImage = 0;

  gallery.addEventListener('click',(event) => {
    lightbox.style.display = 'flex';
  });

  btn_close.addEventListener('click',(event) => {
    lightbox.style.display = 'none';
  });

  const nextImage = () => {
    if (indexImage === 1) {
      active_image.src = "{% static 'img/condicion_1-2.PNG' %}";
    } else if (indexImage === 2) {
      active_image.src = "{% static 'img/condicion_2.PNG' %}";
    } else if (indexImage === 3) {
      active_image.src = "{% static 'img/condicion_3.PNG' %}";
    } else if (indexImage === 4) {
      indexImage = 0;
      active_image.src = "{% static 'img/condicion_1-1.PNG' %}";
      console.log('reiniciamos el index');
    };
    indexImage++;
    console.log(indexImage);
  };

  btn_next.addEventListener('click',nextImage);

  const prevImage = () => {
    if (indexImage === 1) {
      indexImage = 5;
      active_image.src = "{% static 'img/condicion_1-2.PNG' %}";
    } else if (indexImage === 2) {
      active_image.src = "{% static 'img/condicion_2.PNG' %}";
    } else if (indexImage === 3) {
      active_image.src = "{% static 'img/condicion_3.PNG' %}";
    } else if (indexImage === 4) {
      active_image.src = "{% static 'img/condicion_1-1.PNG' %}";
      console.log('reiniciamos el index');
    };
    indexImage--;
    console.log(indexImage);
  };

  btn_prev.addEventListener('click',prevImage);

</script>
{% endblock %}
