{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Perfil{% endblock %}

{% block content %}
  <br>
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                      {% for about in abouts %}
                        <h2>{{ about.title }}</h2>
                        <p>{{ about.description }}</p>
                        <br>
                      {% endfor %}
                    </div>
                        <p><a href="https://www.youtube.com/@mateovergarah"><i class="fa fa-youtube"></i> Canal de YouTube </a></p>
                        <p><a href="https://www.linkedin.com/in/mateovergarahidalgo"><i class="fa fa-linkedin"></i> Perfil de LinkedIn</a></p>
                        <p><a href="https://github.com/mavergarah"><i class="fa fa-github"></i> Usuario de GitHub</a></p>
                        <p><i class="fa fa-envelope"></i> consultoriaelectrica@mateovergara.com</p>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                        <!-- {% for about in about_gallery %}
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="{{ about.photo.url }}" alt="">
                                </div>
                            </div>
                          {% endfor %} -->
                          <div class="col-lg-6">
                              <div class="first-image">
                                  <img src="{% static 'img/photo-1.jpeg' %}" alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="first-image">
                                  <img src="{% static 'img/photo-2.jpg' %}" alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="first-image">
                                  <img src="{% static 'img/photo-3.jpg' %}" alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="first-image">
                                  <img src="{% static 'img/photo-4.jpeg' %}" alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="first-image">
                                  <img src="{% static 'img/photo-5.jpg' %}" alt="">
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="first-image">
                                  <img src="{% static 'img/photo-.jpg' %}" alt="">
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
