{% extends "calculations/index.html" %}
{% load static %}

{% block title %}Conductores{% endblock %}

{% block content %}
  <br>
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="left-content">
                      {% for term in terms %}
                        <h4>{{ term.title }}</h4>
                        <p>{{ term.description }}</p>
                        <br>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
